@font-face {font-family: "Iconz75";
  src: url('Iconz75.eot?t=1725589099541'); /* IE9*/
  src: url('Iconz75.eot?t=1725589099541#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Iconz75.woff2?t=1725589099541") format("woff2"),
  url("Iconz75.woff?t=1725589099541") format("woff"),
  url('Iconz75.ttf?t=1725589099541') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Iconz75.svg?t=1725589099541#Iconz75') format('svg'); /* iOS 4.1- */
}

[class^="Iconz75-"], [class*=" Iconz75-"] {
  font-family: 'Iconz75' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Iconz75-aquarius:before { content: "\e800"; }
.Iconz75-aries:before { content: "\e801"; }
.Iconz75-ban:before { content: "\e802"; }
.Iconz75-bookmark-fill:before { content: "\e803"; }
.Iconz75-bookmark:before { content: "\e804"; }
.Iconz75-calendar:before { content: "\e805"; }
.Iconz75-camera_circle:before { content: "\e806"; }
.Iconz75-cancer:before { content: "\e807"; }
.Iconz75-capricorn:before { content: "\e808"; }
.Iconz75-chevron-down:before { content: "\e809"; }
.Iconz75-claim:before { content: "\e80a"; }
.Iconz75-companies:before { content: "\e80b"; }
.Iconz75-digit:before { content: "\e80c"; }
.Iconz75-edit:before { content: "\e80d"; }
.Iconz75-events:before { content: "\e80e"; }
.Iconz75-face-id:before { content: "\e80f"; }
.Iconz75-filter:before { content: "\e810"; }
.Iconz75-gemini:before { content: "\e811"; }
.Iconz75-heart:before { content: "\e812"; }
.Iconz75-info:before { content: "\e813"; }
.Iconz75-leo:before { content: "\e814"; }
.Iconz75-libra:before { content: "\e815"; }
.Iconz75-message:before { content: "\e816"; }
.Iconz75-miss:before { content: "\e817"; }
.Iconz75-models:before { content: "\e818"; }
.Iconz75-photo:before { content: "\e819"; }
.Iconz75-pin:before { content: "\e81a"; }
.Iconz75-pisces:before { content: "\e81b"; }
.Iconz75-profile_model:before { content: "\e81c"; }
.Iconz75-profile_up:before { content: "\e81d"; }
.Iconz75-purse:before { content: "\e81e"; }
.Iconz75-real:before { content: "\e81f"; }
.Iconz75-sagittarius:before { content: "\e820"; }
.Iconz75-scorpio:before { content: "\e821"; }
.Iconz75-setting:before { content: "\e822"; }
.Iconz75-sign_in:before { content: "\e823"; }
.Iconz75-sign_out:before { content: "\e824"; }
.Iconz75-sign_switch:before { content: "\e825"; }
.Iconz75-sign_up:before { content: "\e826"; }
.Iconz75-star5:before { content: "\e827"; }
.Iconz75-taurus:before { content: "\e828"; }
.Iconz75-top_star:before { content: "\e829"; }
.Iconz75-trash:before { content: "\e82a"; }
.Iconz75-undo:before { content: "\e82b"; }
.Iconz75-up-down-arrow-circle:before { content: "\e82c"; }
.Iconz75-up:before { content: "\e82d"; }
.Iconz75-virgo:before { content: "\e82e"; }


$Iconz75-aquarius: '\e800';
$Iconz75-aries: '\e801';
$Iconz75-ban: '\e802';
$Iconz75-bookmark-fill: '\e803';
$Iconz75-bookmark: '\e804';
$Iconz75-calendar: '\e805';
$Iconz75-camera_circle: '\e806';
$Iconz75-cancer: '\e807';
$Iconz75-capricorn: '\e808';
$Iconz75-chevron-down: '\e809';
$Iconz75-claim: '\e80a';
$Iconz75-companies: '\e80b';
$Iconz75-digit: '\e80c';
$Iconz75-edit: '\e80d';
$Iconz75-events: '\e80e';
$Iconz75-face-id: '\e80f';
$Iconz75-filter: '\e810';
$Iconz75-gemini: '\e811';
$Iconz75-heart: '\e812';
$Iconz75-info: '\e813';
$Iconz75-leo: '\e814';
$Iconz75-libra: '\e815';
$Iconz75-message: '\e816';
$Iconz75-miss: '\e817';
$Iconz75-models: '\e818';
$Iconz75-photo: '\e819';
$Iconz75-pin: '\e81a';
$Iconz75-pisces: '\e81b';
$Iconz75-profile_model: '\e81c';
$Iconz75-profile_up: '\e81d';
$Iconz75-purse: '\e81e';
$Iconz75-real: '\e81f';
$Iconz75-sagittarius: '\e820';
$Iconz75-scorpio: '\e821';
$Iconz75-setting: '\e822';
$Iconz75-sign_in: '\e823';
$Iconz75-sign_out: '\e824';
$Iconz75-sign_switch: '\e825';
$Iconz75-sign_up: '\e826';
$Iconz75-star5: '\e827';
$Iconz75-taurus: '\e828';
$Iconz75-top_star: '\e829';
$Iconz75-trash: '\e82a';
$Iconz75-undo: '\e82b';
$Iconz75-up-down-arrow-circle: '\e82c';
$Iconz75-up: '\e82d';
$Iconz75-virgo: '\e82e';
