@font-face {
  font-family: "Iconz30";
  src: url('Iconz30.eot?t=1705512819770'); /* IE9*/
  src: url('Iconz30.eot?t=1705512819770#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Iconz30.woff2?t=1705512819770") format("woff2"),
  url("Iconz30.woff?t=1705512819770") format("woff"),
  url('Iconz30.ttf?t=1705512819770') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Iconz30.svg?t=1705512819770#Iconz30') format('svg'); /* iOS 4.1- */
}

[class^="Iconz30-"], [class*=" Iconz30-"] {
  font-family: 'Iconz30' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Iconz30-aquarius:before { content: "\e800"; }
.Iconz30-aries:before { content: "\e801"; }
.Iconz30-ban:before { content: "\e802"; }
.Iconz30-bookmark-fill:before { content: "\e803"; }
.Iconz30-bookmark:before { content: "\e804"; }
.Iconz30-calendar:before { content: "\e805"; }
.Iconz30-cancer:before { content: "\e806"; }
.Iconz30-capricorn:before { content: "\e807"; }
.Iconz30-chevron-down:before { content: "\e808"; }
.Iconz30-claim:before { content: "\e809"; }
.Iconz30-crown:before { content: "\e80a"; }
.Iconz30-events:before { content: "\e80b"; }
.Iconz30-filter:before { content: "\e80c"; }
.Iconz30-gemini:before { content: "\e80d"; }
.Iconz30-guests:before { content: "\e80e"; }
.Iconz30-heart:before { content: "\e80f"; }
.Iconz30-info:before { content: "\e810"; }
.Iconz30-leo:before { content: "\e811"; }
.Iconz30-libra:before { content: "\e812"; }
.Iconz30-message:before { content: "\e813"; }
.Iconz30-photo:before { content: "\e814"; }
.Iconz30-pin:before { content: "\e815"; }
.Iconz30-pisces:before { content: "\e816"; }
.Iconz30-profile-up:before { content: "\e817"; }
.Iconz30-profile_model:before { content: "\e818"; }
.Iconz30-purse:before { content: "\e819"; }
.Iconz30-real:before { content: "\e81a"; }
.Iconz30-sagittarius:before { content: "\e81b"; }
.Iconz30-scorpio:before { content: "\e81c"; }
.Iconz30-search_female:before { content: "\e81d"; }
.Iconz30-setting:before { content: "\e81e"; }
.Iconz30-sign_in:before { content: "\e81f"; }
.Iconz30-sign_out:before { content: "\e820"; }
.Iconz30-sign_up:before { content: "\e821"; }
.Iconz30-star5:before { content: "\e822"; }
.Iconz30-taurus:before { content: "\e823"; }
.Iconz30-top_star:before { content: "\e824"; }
.Iconz30-trash:before { content: "\e825"; }
.Iconz30-undo:before { content: "\e826"; }
.Iconz30-unit:before { content: "\e827"; }
.Iconz30-up-down-arrow-circle:before { content: "\e828"; }
.Iconz30-virgo:before { content: "\e829"; }

