@font-face {font-family: "Iconz23";
  src: url('Iconz23.eot?t=1705187192126'); /* IE9*/
  src: url('Iconz23.eot?t=1705187192126#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Iconz23.woff2?t=1705187192126") format("woff2"),
  url("Iconz23.woff?t=1705187192126") format("woff"),
  url('Iconz23.ttf?t=1705187192126') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Iconz23.svg?t=1705187192126#Iconz23') format('svg'); /* iOS 4.1- */
}

[class^="Iconz23-"], [class*=" Iconz23-"] {
  font-family: 'Iconz23' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Iconz23-aquarius:before { content: "\e800"; }
.Iconz23-aries:before { content: "\e801"; }
.Iconz23-ban:before { content: "\e802"; }
.Iconz23-bookmark-fill:before { content: "\e803"; }
.Iconz23-bookmark:before { content: "\e804"; }
.Iconz23-calendar:before { content: "\e805"; }
.Iconz23-cancer:before { content: "\e806"; }
.Iconz23-capricorn:before { content: "\e807"; }
.Iconz23-chevron-down:before { content: "\e808"; }
.Iconz23-claim:before { content: "\e809"; }
.Iconz23-crown:before { content: "\e80a"; }
.Iconz23-events:before { content: "\e80b"; }
.Iconz23-filter:before { content: "\e80c"; }
.Iconz23-gemini:before { content: "\e80d"; }
.Iconz23-guests:before { content: "\e80e"; }
.Iconz23-heart:before { content: "\e80f"; }
.Iconz23-info:before { content: "\e810"; }
.Iconz23-leo:before { content: "\e811"; }
.Iconz23-libra:before { content: "\e812"; }
.Iconz23-message:before { content: "\e813"; }
.Iconz23-photo:before { content: "\e814"; }
.Iconz23-pin:before { content: "\e815"; }
.Iconz23-pisces:before { content: "\e816"; }
.Iconz23-profile_model:before { content: "\e817"; }
.Iconz23-purse:before { content: "\e818"; }
.Iconz23-real:before { content: "\e819"; }
.Iconz23-sagittarius:before { content: "\e81a"; }
.Iconz23-scorpio:before { content: "\e81b"; }
.Iconz23-search_female:before { content: "\e81c"; }
.Iconz23-setting:before { content: "\e81d"; }
.Iconz23-sign_in:before { content: "\e81e"; }
.Iconz23-sign_out:before { content: "\e81f"; }
.Iconz23-sign_up:before { content: "\e820"; }
.Iconz23-star5:before { content: "\e821"; }
.Iconz23-taurus:before { content: "\e822"; }
.Iconz23-top_star:before { content: "\e823"; }
.Iconz23-trash:before { content: "\e824"; }
.Iconz23-undo:before { content: "\e825"; }
.Iconz23-unit:before { content: "\e826"; }
.Iconz23-up-down-arrow-circle:before { content: "\e827"; }
.Iconz23-virgo:before { content: "\e828"; }

$Iconz23-aquarius: "\e800";
$Iconz23-aries: "\e801";
$Iconz23-ban: "\e802";
$Iconz23-bookmark-fill: "\e803";
$Iconz23-bookmark: "\e804";
$Iconz23-calendar: "\e805";
$Iconz23-cancer: "\e806";
$Iconz23-capricorn: "\e807";
$Iconz23-chevron-down: "\e808";
$Iconz23-claim: "\e809";
$Iconz23-crown: "\e80a";
$Iconz23-events: "\e80b";
$Iconz23-filter: "\e80c";
$Iconz23-gemini: "\e80d";
$Iconz23-guests: "\e80e";
$Iconz23-heart: "\e80f";
$Iconz23-info: "\e810";
$Iconz23-leo: "\e811";
$Iconz23-libra: "\e812";
$Iconz23-message: "\e813";
$Iconz23-photo: "\e814";
$Iconz23-pin: "\e815";
$Iconz23-pisces: "\e816";
$Iconz23-profile_model: "\e817";
$Iconz23-purse: "\e818";
$Iconz23-real: "\e819";
$Iconz23-sagittarius: "\e81a";
$Iconz23-scorpio: "\e81b";
$Iconz23-search_female: "\e81c";
$Iconz23-setting: "\e81d";
$Iconz23-sign_in: "\e81e";
$Iconz23-sign_out: "\e81f";
$Iconz23-sign_up: "\e820";
$Iconz23-star5: "\e821";
$Iconz23-taurus: "\e822";
$Iconz23-top_star: "\e823";
$Iconz23-trash: "\e824";
$Iconz23-undo: "\e825";
$Iconz23-unit: "\e826";
$Iconz23-up-down-arrow-circle: "\e827";
$Iconz23-virgo: "\e828";

