@font-face {font-family: "Iconz34";
  src: url('Iconz34.eot?t=1707915667027'); /* IE9*/
  src: url('Iconz34.eot?t=1707915667027#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Iconz34.woff2?t=1707915667027") format("woff2"),
  url("Iconz34.woff?t=1707915667027") format("woff"),
  url('Iconz34.ttf?t=1707915667027') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Iconz34.svg?t=1707915667027#Iconz34') format('svg'); /* iOS 4.1- */
}

[class^="Iconz34-"], [class*=" Iconz34-"] {
  font-family: 'Iconz34' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Iconz34-aquarius:before { content: "\e800"; }
.Iconz34-aries:before { content: "\e801"; }
.Iconz34-ban:before { content: "\e802"; }
.Iconz34-bookmark-fill:before { content: "\e803"; }
.Iconz34-bookmark:before { content: "\e804"; }
.Iconz34-calendar:before { content: "\e805"; }
.Iconz34-cancer:before { content: "\e806"; }
.Iconz34-capricorn:before { content: "\e807"; }
.Iconz34-chevron-down:before { content: "\e808"; }
.Iconz34-claim:before { content: "\e809"; }
.Iconz34-crown:before { content: "\e80a"; }
.Iconz34-events:before { content: "\e80b"; }
.Iconz34-filter:before { content: "\e80c"; }
.Iconz34-gemini:before { content: "\e80d"; }
.Iconz34-guests:before { content: "\e80e"; }
.Iconz34-heart:before { content: "\e80f"; }
.Iconz34-info:before { content: "\e810"; }
.Iconz34-leo:before { content: "\e811"; }
.Iconz34-libra:before { content: "\e812"; }
.Iconz34-message:before { content: "\e813"; }
.Iconz34-photo:before { content: "\e814"; }
.Iconz34-pin:before { content: "\e815"; }
.Iconz34-pisces:before { content: "\e816"; }
.Iconz34-profile-up:before { content: "\e817"; }
.Iconz34-profile_model:before { content: "\e818"; }
.Iconz34-purse:before { content: "\e819"; }
.Iconz34-real:before { content: "\e81a"; }
.Iconz34-sagittarius:before { content: "\e81b"; }
.Iconz34-scorpio:before { content: "\e81c"; }
.Iconz34-search_female:before { content: "\e81d"; }
.Iconz34-setting:before { content: "\e81e"; }
.Iconz34-sign_in:before { content: "\e81f"; }
.Iconz34-sign_out:before { content: "\e820"; }
.Iconz34-sign_up:before { content: "\e821"; }
.Iconz34-star5:before { content: "\e822"; }
.Iconz34-taurus:before { content: "\e823"; }
.Iconz34-top_star:before { content: "\e824"; }
.Iconz34-trash:before { content: "\e825"; }
.Iconz34-undo:before { content: "\e826"; }
.Iconz34-unit:before { content: "\e827"; }
.Iconz34-up-down-arrow-circle:before { content: "\e828"; }
.Iconz34-virgo:before { content: "\e829"; }

$Iconz34-aquarius: "\e800";
$Iconz34-aries: "\e801";
$Iconz34-ban: "\e802";
$Iconz34-bookmark-fill: "\e803";
$Iconz34-bookmark: "\e804";
$Iconz34-calendar: "\e805";
$Iconz34-cancer: "\e806";
$Iconz34-capricorn: "\e807";
$Iconz34-chevron-down: "\e808";
$Iconz34-claim: "\e809";
$Iconz34-crown: "\e80a";
$Iconz34-events: "\e80b";
$Iconz34-filter: "\e80c";
$Iconz34-gemini: "\e80d";
$Iconz34-guests: "\e80e";
$Iconz34-heart: "\e80f";
$Iconz34-info: "\e810";
$Iconz34-leo: "\e811";
$Iconz34-libra: "\e812";
$Iconz34-message: "\e813";
$Iconz34-photo: "\e814";
$Iconz34-pin: "\e815";
$Iconz34-pisces: "\e816";
$Iconz34-profile-up: "\e817";
$Iconz34-profile_model: "\e818";
$Iconz34-purse: "\e819";
$Iconz34-real: "\e81a";
$Iconz34-sagittarius: "\e81b";
$Iconz34-scorpio: "\e81c";
$Iconz34-search_female: "\e81d";
$Iconz34-setting: "\e81e";
$Iconz34-sign_in: "\e81f";
$Iconz34-sign_out: "\e820";
$Iconz34-sign_up: "\e821";
$Iconz34-star5: "\e822";
$Iconz34-taurus: "\e823";
$Iconz34-top_star: "\e824";
$Iconz34-trash: "\e825";
$Iconz34-undo: "\e826";
$Iconz34-unit: "\e827";
$Iconz34-up-down-arrow-circle: "\e828";
$Iconz34-virgo: "\e829";

