@font-face {font-family: "Iconz66";
  src: url('Iconz66.eot?t=1725588503667'); /* IE9*/
  src: url('Iconz66.eot?t=1725588503667#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url("Iconz66.woff2?t=1725588503667") format("woff2"),
  url("Iconz66.woff?t=1725588503667") format("woff"),
  url('Iconz66.ttf?t=1725588503667') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('Iconz66.svg?t=1725588503667#Iconz66') format('svg'); /* iOS 4.1- */
}

[class^="Iconz66-"], [class*=" Iconz66-"] {
  font-family: 'Iconz66' !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.Iconz66-aquarius:before { content: "\e800"; }
.Iconz66-aries:before { content: "\e801"; }
.Iconz66-ban:before { content: "\e802"; }
.Iconz66-bookmark-fill:before { content: "\e803"; }
.Iconz66-bookmark:before { content: "\e804"; }
.Iconz66-calendar:before { content: "\e805"; }
.Iconz66-camera_circle:before { content: "\e806"; }
.Iconz66-cancer:before { content: "\e807"; }
.Iconz66-capricorn:before { content: "\e808"; }
.Iconz66-chevron-down:before { content: "\e809"; }
.Iconz66-claim:before { content: "\e80a"; }
.Iconz66-companies:before { content: "\e80b"; }
.Iconz66-digit:before { content: "\e80c"; }
.Iconz66-edit:before { content: "\e80d"; }
.Iconz66-events:before { content: "\e80e"; }
.Iconz66-face-id:before { content: "\e80f"; }
.Iconz66-filter:before { content: "\e810"; }
.Iconz66-gemini:before { content: "\e811"; }
.Iconz66-heart:before { content: "\e812"; }
.Iconz66-info:before { content: "\e813"; }
.Iconz66-leo:before { content: "\e814"; }
.Iconz66-libra:before { content: "\e815"; }
.Iconz66-message:before { content: "\e816"; }
.Iconz66-miss:before { content: "\e817"; }
.Iconz66-models:before { content: "\e818"; }
.Iconz66-photo:before { content: "\e819"; }
.Iconz66-pin:before { content: "\e81a"; }
.Iconz66-pisces:before { content: "\e81b"; }
.Iconz66-profile_model:before { content: "\e81c"; }
.Iconz66-profile_up:before { content: "\e81d"; }
.Iconz66-purse:before { content: "\e81e"; }
.Iconz66-real:before { content: "\e81f"; }
.Iconz66-sagittarius:before { content: "\e820"; }
.Iconz66-scorpio:before { content: "\e821"; }
.Iconz66-setting:before { content: "\e822"; }
.Iconz66-sign_in:before { content: "\e823"; }
.Iconz66-sign_out:before { content: "\e824"; }
.Iconz66-sign_switch:before { content: "\e825"; }
.Iconz66-sign_up:before { content: "\e826"; }
.Iconz66-star5:before { content: "\e827"; }
.Iconz66-taurus:before { content: "\e828"; }
.Iconz66-top_star:before { content: "\e829"; }
.Iconz66-trash:before { content: "\e82a"; }
.Iconz66-undo:before { content: "\e82b"; }
.Iconz66-up-down-arrow-circle:before { content: "\e82c"; }
.Iconz66-up:before { content: "\e82d"; }
.Iconz66-virgo:before { content: "\e82e"; }


$Iconz66-aquarius = '\e800'
$Iconz66-aries = '\e801'
$Iconz66-ban = '\e802'
$Iconz66-bookmark-fill = '\e803'
$Iconz66-bookmark = '\e804'
$Iconz66-calendar = '\e805'
$Iconz66-camera_circle = '\e806'
$Iconz66-cancer = '\e807'
$Iconz66-capricorn = '\e808'
$Iconz66-chevron-down = '\e809'
$Iconz66-claim = '\e80a'
$Iconz66-companies = '\e80b'
$Iconz66-digit = '\e80c'
$Iconz66-edit = '\e80d'
$Iconz66-events = '\e80e'
$Iconz66-face-id = '\e80f'
$Iconz66-filter = '\e810'
$Iconz66-gemini = '\e811'
$Iconz66-heart = '\e812'
$Iconz66-info = '\e813'
$Iconz66-leo = '\e814'
$Iconz66-libra = '\e815'
$Iconz66-message = '\e816'
$Iconz66-miss = '\e817'
$Iconz66-models = '\e818'
$Iconz66-photo = '\e819'
$Iconz66-pin = '\e81a'
$Iconz66-pisces = '\e81b'
$Iconz66-profile_model = '\e81c'
$Iconz66-profile_up = '\e81d'
$Iconz66-purse = '\e81e'
$Iconz66-real = '\e81f'
$Iconz66-sagittarius = '\e820'
$Iconz66-scorpio = '\e821'
$Iconz66-setting = '\e822'
$Iconz66-sign_in = '\e823'
$Iconz66-sign_out = '\e824'
$Iconz66-sign_switch = '\e825'
$Iconz66-sign_up = '\e826'
$Iconz66-star5 = '\e827'
$Iconz66-taurus = '\e828'
$Iconz66-top_star = '\e829'
$Iconz66-trash = '\e82a'
$Iconz66-undo = '\e82b'
$Iconz66-up-down-arrow-circle = '\e82c'
$Iconz66-up = '\e82d'
$Iconz66-virgo = '\e82e'
